.users__profile-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.users__profile-posts-title {
    font-size: 24px;
    margin-bottom: 16px;
    padding-left: 24px;
}
.users__profile-avatar {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, lightcoral, orange);
    color: white;
    font-size: 36px;
    margin-right: 24px;
}

.users__profile-wrap {
    display: flex;
    align-items: center;
    padding: 32px 24px;
}

.users__profile-name {
    font-size: 20px;
}

.users__profile-info {
    list-style: none;
}

.users__profile-info li {
    line-height: 1.6;
}

.users__profile-info a {
    color: orangered;
    text-decoration: none;
}
.users__profile-info a:hover {
    text-decoration: none;
}